

    <div class="container mt-3">
        <h1>Agregar Producto</h1>
        <div class="jumbotron">
            <form action="/api/guardarplantilla" method="POST">
                <div class="form-group">
                    <label for="title"><b>Title</b></label>
                    <input id="title" class="form-control" type="text" name="title">
                </div>
                <div class="form-group">
                    <label for="price"><b>Price</b></label>
                    <input id="price" class="form-control" type="number" name="price">
                </div>
                <div class="form-group">
                    <label for="thumbnail"><b>Thumbnail</b></label>
                    <input id="thumbnail" class="form-control" type="text" name="thumbnail">
                </div>
                <button class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>

        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: green"></tr>
            <th>Title</th>
            <th>price</th>
            <th>thumbnail</th>
            <th>id</th>
           
            {{#each renderProductos}}
            <tr>
            <td>{{this.title}}</td>
            <td>{{this.price}}</td>
            <td>{{this.thumbnail}}</td>
            <td>{{this.id}}</td>
            </tr>
            {{/each}}
        </table>

    </div>
    </ul>

    <div class="container-fluid mt-3">
        <h1>Mi app Chat</h1>   
        <hr> 
        <div id="messages"></div>
        
            <form class="form-inline" autocomplete="off" id="FormId">
                    <input type="text" id="username" placeholder="Nombre de Usuario" >
                    <input type="text" id="texto" placeholder="Escriba su comentario...">
                    <button value="Enviar" id="LinkID" onclick="document.getElementById('FormId').submit();">Enviar</button >   

                </form>
            <hr> 


    </div> 